<header class="header">
    <div class="header__top">
        <a href="index.html" class="header__logo">
            <img src="./assets/images/logo.svg" alt="Logo de Caminito del Rey" width="100" height="100">
        </a>
        <!-- Botón de menú hamburguesa para móviles -->
        <div class="header__hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="header__nav" id="nav-menu">
            <ul class="header__nav-list">
                <li class="header__nav-item header__nav-item--active"><a href="#home" class="header__nav-link">Home</a></li>
                <li class="header__nav-item header__nav-item--active"><a href="#historia" class="header__nav-link">Historia</a></li>
                <li class="header__nav-item header__nav-item--active"><a href="#visitas" class="header__nav-link">Visitas</a></li>
                <li class="header__nav-item header__nav-item--active"><a href="#galeria" class="header__nav-link">Galería</a></li>
            </ul>
        </nav>
    </div>
</header>

