@use "sass:color";

// Colores para el sitio del Caminito del Rey

$fontFamilySansSerif: arial, sans-serif;

$primaryColor: #2c6e91; // Azul natural

$accentColor: #d97742;  // Color cálido (naranja terroso)

$red: #F00;

$backgroundColor: #f4f4f4; // Fondo suave

$black: #333; // Un negro suave para no ser tan agresivo

$white: #fff; // Blanco puro

$boxShadow: 0 2px 10px color.scale(#000, $alpha: -90%); // Sombra suave

$borderRadius: 8px; // Bordes redondeados

// Breakpoints

$mqMinWidth: 420px; // Cambiado para seguir el patrón



// Espaciados

$paddingStandard: 20px;

$marginStandard: 20px;


// Tamaños de fuente

$baseFontSize: 16px;

$headingFontSize: 2rem; // Para títulos

$subheadingFontSize: 1.5rem;

